SECRET_KEY="CHANGE_ME"

DEBUG="1"

ALLOWED_HOSTS="localhost,127.0.0.1"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="CHANGE_ME"
POSTGRES_USER="CHANGE_ME"
POSTGRES_PASSWORD="CHANGE_ME"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"